*{
    margin: 0;
    padding: 0;
}

h1{
text-align: center;
}

.card{
margin: 0 auto;
max-width: 350px;
text-align: center;
margin-top: 10px;
box-shadow: 0 4px 8px 0 green;
font-size: 0;
}

.card:hover{
    box-shadow: 0 12px 24px 0 green;
}

.cal-head #result{

    width: 325px;
    height:50px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 0 10px;
    letter-spacing: 2px;
}

.btn{

    width: 87px;
    height: 70px;
    font-weight: bold;
    background-color: rgb(6, 17, 17);
    color: white;
}

.side-btn{
    background-color: blueviolet;
}

.btn:hover{
    background-color: aqua;
}